.container {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #cfcfcf;
  border-radius: 5px;
  border: gray 1px solid;
  color: #000000;
}

.title {
  display: flex;
  width: 100%;
  padding: 6px;
  margin: 8px;
}

.titleInfo {
  width: 25%;
}

.titleKm {
  width: 20%;
}
