.container {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.content {
  display: flex;
  width: 100%;
}

.filters {
  width: 16%;
  margin: auto;
  margin-top: 40px;
  border: solid gray 1px;
}

.shopInfo {
  width: 82%;
  margin-top: 30px;
}

@media (max-width: 1024px) {
  .filters {
    width: 14%;
  }
  .shopInfo {
    width: 86%;
  }
}
