.container {
  width: 100%;
  background-color: #000;
}

.content {
  display: flex;
  align-items: center;
  height: 110px;
  gap: 10px;
  text-decoration: none;
  width: 96%;
  margin: auto;
}

.logo {
  height: 80px;
}

.links {
  text-decoration: none;
  font-size: 20px;
  color: whitesmoke;
  transition: color 0.3s, transform 0.3s;
  margin: 10px;
  font-weight: 600;
}

.links:hover {
  color: white;
  transform: scale(1.2);
}

.linksContent {
  display: flex;
  gap: 30px;
  width: 34%;
}

.user {
  display: flex;
  justify-content: center;
  width: 13%;
}
