.conteiner {
  padding: 10px;
  margin: 0px;
  width: 300px;
}
.cardImg {
  width: 300px;
  height: 200px;
}

.conteiner p {
  margin: 2px 0;
  font-size: 1rem;
}

.carCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.info {
  color: gray;
  margin-left: 20px;
}

.title {
  color: #000000;
}

.contPrice {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.contPrice .price {
  color: gray;
  margin-right: 4px;
  font-size: 12px;
}

.contPrice .arsUsd {
  font-size: 20px;
  font-weight: 600;
  color: blue;
}

.links {
  text-decoration: none;
}

.carCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

@media (min-width: 1600px) {
  .conteiner {
    width: 400px;
  }

  .cardImg {
    width: 400px;
    height: 300px;
  }

  .title {
    font-size: 32px;
    text-align: start;
  }

  .conteiner p {
    font-size: 20px;
    text-align: start;
  }
}
