.suggestedVehicleCard {
  display: flex;
  justify-content: center;
}

.suggestedVehicleCardTitle {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

.suggestedVehicleCardDetails {
  font-size: 14px;
  color: #777;
}

.title {
  text-align: center;
}
